{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="none" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medistats</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'medistats.png' %}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{% static 'sidebars.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="modal modal-signin position-fixed d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">{{ title }}</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                <table class="table">
                    {% autoescape off %}
                        {{ output }}
                    {% endautoescape %}
                </table>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="add">Add new log</button>
            </div>
        </div>
        </div>
    </div>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>